@page
@model CO659_TeamApp.Pages.Symptoms.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Symptom[0].SymptomName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Symptom[0].SymptomType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Symptom[0].SymptomDetails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Symptom[0].SymptomSeverity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Symptom) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SymptomName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SymptomType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SymptomDetails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SymptomSeverity)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
