@page
@model CO659_TeamApp.Pages.Prescriptions.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Prescription</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescription.PrescriptionDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prescription.PrescriptionDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescription.PrescriptionPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prescription.PrescriptionPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescription.PrescriptionQty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prescription.PrescriptionQty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescription.People)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prescription.People.AddressHouseNo)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Prescription.PrescriptionID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
