@page
@model CO659_TeamApp.Pages.Prescriptions.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Prescription</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescription.PrescriptionDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prescription.PrescriptionDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescription.PrescriptionTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prescription.PrescriptionTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescription.PrescriptionPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prescription.PrescriptionPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescription.PrescriptionQty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prescription.PrescriptionQty)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Prescription?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
