@page
@model CO659_TeamApp.Pages.Prescriptions.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Prescription[0].PrescriptionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prescription[0].PrescriptionPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prescription[0].PrescriptionQty)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Prescription) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PrescriptionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrescriptionPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrescriptionQty)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
