@page
@model CO659_TeamApp.Pages.Patients.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Patient</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.DOB)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.DOB)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.AddressHouseNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.AddressHouseNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.AddressStreet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.AddressStreet)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.AddressLineTwo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.AddressLineTwo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.AddressTownCity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.AddressTownCity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.AddressPostcode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.AddressPostcode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.MobileNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.MobileNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Patient?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
