@page
@model CO659_TeamApp.Pages.Patients.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].PatientFName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].PatientLName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].PatientDOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].AddressHouseNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].AddressStreet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].AddressLineTwo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].AddressTownCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].AddressPostcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].MobileNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Patient) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PatientFName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientLName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientDOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressHouseNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressStreet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressLineTwo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressTownCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressPostcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobileNumber)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
