@page
@model CO659_TeamApp.Pages.Medicines.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Medicine</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine.MedicineName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medicine.MedicineName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine.MedicineType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medicine.MedicineType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine.MedicineDosage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medicine.MedicineDosage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine.MedicineQty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medicine.MedicineQty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine.IsAvailable)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medicine.IsAvailable)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine.Prescriptions)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medicine.Prescriptions.PrescriptionID)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Medicine.MedicineID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
