@page
@model CO659_TeamApp.Pages.Medicines.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Medicine</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine.MedicineName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medicine.MedicineName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine.MedicineType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medicine.MedicineType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine.MedicineDosage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medicine.MedicineDosage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine.MedicineQty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medicine.MedicineQty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine.IsAvailable)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medicine.IsAvailable)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Medicine?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
