@page
@model CO659_TeamApp.Pages.Practitioners.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Practitioner[0].PractitionerFName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Practitioner[0].PractitionerLName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Practitioner[0].PractitionerTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Practitioner[0].PractitionerDept)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Practitioner) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PractitionerFName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PractitionerLName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PractitionerTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PractitionerDept)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
