@page
@model CO659_TeamApp.Pages.Appointments.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Appointment[0].BookingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointment[0].ApptDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointment[0].ApptLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointment[0].People)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Appointment) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApptDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApptLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.People.AddressHouseNo)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AppointmentID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AppointmentID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AppointmentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
